<!DOCTYPE html>
{% load staticfiles %}
{% load rango_template_tags %}

<html>
    <head lang="en">
        <meta charset="utf-8" />
        <title>
            Rango -
                {% block title_block %}
                    How to tango with django.
                {% endblock %}
        </title>
    </head>
    <body>
        <div>
            {% block body_block %}
                le default content of d bodiblok
            {% endblock %}
        </div>

        <div>
            {% block sidebar_block %}
                sajdbar blok
            {% endblock %}
        </div>

        <hr />
        <div>
            <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'restricted' %}">Restricted pages.</a></li>
                <li><a href="{% url 'add_category' %}">Add new category.</a></li>
                <li><a href="{% url 'password_change' %}">Change password.</a></li>
                <li><a href="{% url 'auth_logout' %}?next=/rango/">Logout.</a></li>
            {% else %}
                <li><a href="{% url 'registration_register' %}">Sign up.</a></li>
                <li><a href="{% url 'auth_login' %}">Login.</a></li>
            {% endif %}
                <li><a href="{% url 'about' %}">About.</a></li>
                <li><a href="{% url 'index' %}">Index.</a></li>
            </ul>
    </body>
</html>
